<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apemans.custom">

    <application

        android:allowBackup="false"

        android:label="@string/app_name"

        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".CustomFaqHomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomServiceActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.apeman.customerservice.view.album.AlbumActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.apemans.custom.review.ReviewActivity"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>